# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# FVM Version Cache
.fvm/
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppDataInfo.plist
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/.com.apple.mobile_container_manager.metadata.plist
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Documents/GetStorage.bak
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Documents/GetStorage.gs
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Documents/cavals/draft.json
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/libCachedImageData.db
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/backgroundDownloaderDatabase/metaData
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/fonts/1/meta.json
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/fonts/1/AlibabaPuHuiTi/AlibabaPuHuiTi-3-105-Heavy.otf
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/fonts/1/AlibabaPuHuiTi/AlibabaPuHuiTi-3-115-Black.otf
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/fonts/1/AlibabaPuHuiTi/AlibabaPuHuiTi-3-35-Thin.otf
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/fonts/1/AlibabaPuHuiTi/AlibabaPuHuiTi-3-45-Light.otf
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/fonts/1/AlibabaPuHuiTi/AlibabaPuHuiTi-3-55-Regular.otf
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/fonts/1/AlibabaPuHuiTi/AlibabaPuHuiTi-3-65-Medium.otf
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/fonts/1/AlibabaPuHuiTi/AlibabaPuHuiTi-3-75-SemiBold.otf
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/fonts/1/AlibabaPuHuiTi/AlibabaPuHuiTi-3-85-Bold.otf
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Application Support/fonts/1/AlibabaPuHuiTi/AlibabaPuHuiTi-3-95-ExtraBold.otf
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Caches/flutter_callback_cache.json
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Caches/com.apple.dyld/Runner.dyld4
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Caches/com.example.voicetemplate/com.apple.metal/functions.data
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Caches/com.example.voicetemplate/com.apple.metal/functions.list
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Caches/com.example.voicetemplate/com.apple.metal/32024/libraries.data
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Caches/com.example.voicetemplate/com.apple.metal/32024/libraries.list
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/Saved Application State/com.example.voicetemplate.savedState/KnownSceneSessions/data.data
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/SplashBoard/Snapshots/com.example.voicetemplate - {DEFAULT GROUP}/2EA59EF6-5BF1-4221-935E-C0B1C8C416F5@3x.ktx
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/SplashBoard/Snapshots/com.example.voicetemplate - {DEFAULT GROUP}/8CE93839-B628-409E-9A2B-B22D3F7A5674@3x.ktx
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/SplashBoard/Snapshots/com.example.voicetemplate - {DEFAULT GROUP}/B903B8AF-968C-43E7-B676-F54F624E028E@3x.ktx
android/app/com.example.voicetemplate 2025-12-17 15:57.09.747.xcappdata/AppData/Library/SplashBoard/Snapshots/com.example.voicetemplate - {DEFAULT GROUP}/BCF87CFD-C7C1-41A0-80ED-B9D4FC268AEA@3x.ktx
